
 @import url("https://use.typekit.net/maj5ekd.css");

.HK{
	font-family:voltage, sans-serif;
	font-size:30px;
	position:absolute;
	z-index: 1;
	text-align:left;
	display:flex;
	width:50vw;
	height:94vh;
	padding-left:10px;
}
.p1{
	font-family:covik-sans, sans-serif;
 text-align: left;
 display:block;
 font-size: 25px;
 line-height: 40px;
 /*margin: 0 auto;
 width: 450px;
 margin-top: 0px;
 line-height: 25px;
 margin-left: 200px;*/
}
.NY{
	font-family:voltage, sans-serif;
	font-size:30px;
	position:absolute;
	z-index: 1;
	display:flex;
	width:50vw;
	height:50vh;
	padding-left:10px;
}
.p2{
	font-family:covik-sans, sans-serif;
 	text-align: left;
 	display:block;
 	font-size: 25px;
 	line-height: 40px;
 /*margin: 0 auto;
 width: 320px;
 margin-top: 280px;
 margin-left:200px;
 line-height: 25px;*/

}
.A{
	font-family:voltage, sans-serif;
	font-size:30px;
	position:absolute;
	z-index: 1;
	display:flex;
	width:50vw;
	height:94vh;
	padding-right:20px;
}
.p3{
	font-family:covik-sans, sans-serif;
 	text-align: left;
 	display:block;
 	font-size: 25px;
 	line-height: 40px;
 	/*position:absolute;
 	margin: 0 auto;
 	width: 450px;
 	top: 230px;
 	line-height: 25px;
 	left: 800px;*/
}
.R{
	font-family:voltage, sans-serif;
	font-size:30px;
	cursor: pointer;
	position:absolute;
	z-index: 1;
	display:flex;
	width:50vw;
}

.p4{
	font-family:covik-sans, sans-serif;
 	text-align: left;
 	display:block;
 	font-size: 25px;
 	line-height: 40px;
 	/*position:absolute;
 	margin: 0 auto;
 	width: 450px;
 	top: 630px;
 	line-height: 25px;
 	left: 800px;*/
}

/* hover */
.tooltip {
  position: relative;
  display: inline-block;
  cursor:default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext2 {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext2 {
  visibility: visible;
  bottom: 50px;
  left: 10px;
}


.tooltip .tooltiptext3 {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext3 {
  visibility: visible;
  top: 50px;
  right: 10px;
}

.tooltip .tooltiptext4 {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext4 {
  visibility: visible;
  bottom: 50px;
  right: 10px;
}


/* images */
.h{
	position:absolute;
	margin-top:0px;
	margin-left:0px;
}
.n{
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	width:10vh auto;
	height: 10vh auto;
}
.al{
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	width:10vh auto;
	height: 10vh auto;
}
.w{
	position:absolute;
	margin-top:0px;
	margin-left:0px;
	width:10vh auto;
	height: 10vh auto;
}
#imgh{
	position:absolute;
	left:-100px;
	top:-300px;
	size:200%;
	z-index: -2;
}
#imgn{
	position:absolute;
	left:-100px;
	top:-580px;
	size:200%;
	z-index: -3;
	transform: rotate(150deg);
}
#imga{
	position:absolute;
	left:-200px;
	top:-250px;
	size:200%;
	z-index: -2;
	transform: rotate(20deg);
}
#imgw{
	position:absolute;
	left:-300px;
	top:-700px;
	size:200%;
	z-index: -2;
}


/* Pattern */
.a {
	position: fixed;
	top: 0;
	left: 0;
	background-image: url("image/3o.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 2000px;
	height: 2000px;
	z-index: 2;
}

.pattern-container {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	/* background-color:blue;*/
}
.containera{
	display:inline-flex;
	flex-direction:column;
	width:50vw;
}
.containerb{
	display:inline-flex;
	flex-direction:column;
	position:absolute;
	right:0;
	width:50vw;
	text-align:right;
}

.pattern-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 150px;
	height: 100px;
	background-image: url("gif/3t.gif");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.pattern-box ~ .hk {
	background-image: url("image/2rc.png")!important;
	z-index: 2;
}

.pattern-box ~ .ny {
	background-image: url("image/1bm.png")!important;
	z-index: 2;
}

.pattern-box ~ .a {
	background-image: url("image/4ym.png")!important;
	z-index: 2;
}

.pattern-box ~ .r {
	background-image: url("image/4tc.png")!important;
	z-index: 2;
}











